    <div class="comments">
        {{#each this}}
        <div>
            <p class="card-body">
            {{comment_text}} - {{user.username}} {{format_date created_at}}
            </p>
        </div>
        {{/each}}
    </div>