*{
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(72, 61, 139);
}

a {
    text-decoration: none;
    color: rgb(72, 61, 139);
    font-weight: bold;
    transition: color .1s;
}

button {
    background-color: rgb(119, 136, 153);
    border: 0;
    padding: 1%;
    color: rgb(245, 245, 245);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(176, 196, 222);
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(119, 136, 153);
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid rgb(176, 196, 222);
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid rgb(119, 136, 153);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(119, 136, 153);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: rgb(176, 196, 222);
}

.delete.btn-post {
    background-color: rgb(119, 136, 153);
}

.delete.btn-post:hover {
    background-color: rgb(176, 196, 222);
}

header, .site, .form-heading {
    background-color: rgb(245, 245, 245);
}

.login-page,
.sign-up,
.new-post-form,
.edit-post-form {
    border: 3px, solid rgb(119, 136, 153);
    padding-bottom: 10px;
}

.form-heading {
    padding: 10px;
}

.form-section,
.signup-link,
.login-link {
    padding-left: 10px;
}

.post, .title {
    padding-top: 10px;
}

.site {
    display: flex;
    border-bottom: 1px solid, rgb(119, 136, 153);
    justify-content: center;
}

.site-name {
    margin-bottom: 10px;
    padding: 0px 10px;
    border-style: groove;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 3px solid rgb(119, 136, 153);
}

.post .title span {
    font-style: normal;
    font-size: 90%;
    color: rgb(72, 61, 139);
}

.edit-link {
    display: block;
    margin: 1.5% 0 2% 0;
    color: rgb(72, 61, 139);
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .5;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

.signup-link, .login-link {
    color: rgb(72, 61, 139);
}

.form-heading h1, .form-heading h2 {
    color: rgb(119, 136, 153);
}

.login-form,
.signup-form,
.post-content,
.post-title {
    padding: 10px 10px 0px 0px;
}

.entry,
.login-btn,
.signup-btn,
.btn,
#post-title {
    width: 100%;
}