:root {
    --first: #f5f5f5;
    --second: #191970;
    --third: #778899;
    --fourth: #b0c4de;
    --fifth: #708090;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--first);
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--second);
    line-height: 1.5;
    font-size: 16px;
}

h1, h2 {
    font-weight: 700;
    margin: 5px;
    color: var(--second);
    line-height: 1.2;
}

header {
    width: 100%;

}

.hero {
  text-align: center;
  padding: 5% 4%;
  background-color: var(--first);
  color: var(--first);
  border: 3px solid var(--fourth);
  border-radius: 3px;
}

.repo-title {
  font-size: 90px;
  background-color: var(--first);
  color: var(--second);
  padding: 0 10px;
  display: inline-block;
  padding: 5px;
}

.repo-title a {
  text-align: center;
  color: var(--second);
}

main {
    margin: 20px auto;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

input {
    width: 100%;
    border: 1px solid black;
    background: white;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
    color: var(--second);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 4px;
    color: var(--first);
    border: none;
    outline: none;
    background-color: var(--fourth);
    box-shadow: 3px 3px var(--fifth);
    transform: translate(-1px, -1px);
}

.btn-inline {
    display: inline;
}

.li-inline {
    display: inline;
    font-size: 20px;
    color: var(--first);
    justify-content: left;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: var(--fourth);
}

.nav-item {
    margin: 0 40px;
}

.nav-item a {
    color: var(--first);
}

.list-group {
    padding: 1%;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: 4px;
    background-color: var(--first);
    color: var(--second);
    text-decoration: none;
}

.footer {
    display: flex;
    padding: 1%;
    justify-content: center;
    background-color: var(--first);
    color: var(--second);
    font-size: larger;
}

/*---------------- Cards ------------------*/
.card {
    margin: 10px 0 20px 10px;
    border-radius: 3px;
}

.card-header {
    color: var(--second);
    background-color: var(--first);
    padding: 1%;
}

.card-body {
    padding: 2%
}

.comment-form {
  margin-bottom: 5%;

}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  color: var(--second);
}

.comment .meta {
  color: var(--second);
  font: 90px;
  margin-bottom: .5%;
  opacity: .6;
}

/*-----------------Forms-------------*/
.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: 1.3rem;
    margin: 0 0 0 5px;
}

.form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.3rem;
    border: 2px solid var(--fourth);
    border-radius: 3px;
}

/*---------------------------MEDIA--------------------------*/
/*----SMALL SCREEN----*/
@media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
  }
  
  /*----MEDIUM SCREEN----*/
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /*----LARGE SCREEN----*/
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
    }
  }
  
  /*----EXTRA LG SCREEN----*/
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
  }