<div class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body" id="edit-post-form">
        <div>
            <label class="form-label">Title: </label>
            <input class="form-input" type="text" name="post-title" value="{{post.title}}"/>
        </div>
        <div>
            <lable class="form-label">Content: </lable>
            <textarea class="form-textarea form-input" name="comment-text" value="{{>post.content}}"></textarea>
        </div>

        <button class="btn btn-secondary" type="submit">Edit</button>
        <input type="hidden" name="post-id" value="{{post.id}}"/>
    </form>
    <div class="card-body">
        <button class="btn btn-secondary" type="click" id="delete-btn">Delete</button>
    </div>
</div>

<script src="/public/javascript/edit-post.js"></script>
<script src="/public/javascript/comment.js"></script>
<script src="/public//javascript/delete-post.js"></script>