{{! Login Form }}
<section class="login-page">
    <div class="form-heading">
        <h2>Login</h2>
    </div>
    <div class="form-section">
        <form class="login-form">
        <div>
            <label for="email-login">Email:</label>
            <input type="text" class="entry" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" class="entry" id="password-login" />
        </div>
        <div>
            <button type="submit" class="login-btn">Login</button>
        </div>
        </form>
    </div>
    <a href="/signup" class="signup-link">Need to Sign Up</a>
</section>

<script src="/public/javascript/login.js"></script>